body
{
	background-color: #FEFEFE;
	color: #2B2B2B;
	font-family: "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 33px;
	margin: 44px auto 22px auto;
	max-width: 600px;
	min-width: 300px;
	text-rendering: optimizeLegibility;
}

h1
{
	color: #4A4A4A;
	font-family: "Futura", "Tahoma", sans-serif;
	font-size: 44px;
	font-weight: normal;
	margin: 0px;	
}

ul
{
	list-style-type: none;
	text-align: left;
	padding-left: 18px;
}

ul li:before
{
	content: '\002b\0020';
	color: #ea4a27;
	font-size: 24px;
	font-weight: bold;
	margin-left: -16px;
	vertical-align: 5px;
}

li
{
    margin: 12px 0px 34px 0px;
}

li > a
{
	font-weight: normal;
	font-family: "Futura", "Tahoma", sans-serif;
}

li p
{
	font-size: 24px;
	line-height: 36px;
	margin: 12px 0px 0px 0px;
	padding-left: 12px;
}

blockquote
{
	border-left: 2px solid #dcdcdc;
	font-style: italic;
	margin: 0px 0px 0px 22px;
	padding: 0px 0px 0px 22px;
}

blockquote p
{
    padding-left: 0px;
}

a:link, a:visited, a:active, a:hover
{
	color: #ea4a27;
	text-decoration: underline;
}

#container
{
	max-width: 600px;
	text-align: center;
	margin: 0px auto 0px auto;
}

#site-description
{
	background-color: #fffaf0;
	border: 2px #dcdcdc solid;
	font-size: 16px;
	margin: 24px 4px 24px 4px;
	padding: 6px;
	text-align: justify;
}

#site-description > p
{
	margin: 0px;
	padding: 0px;
}

#update-time
{
	color: #4a4a4a;
	font-size: 14px;
	margin-left: 4px;
	margin-top: 4px;
	text-align: left;
}

@media screen and (max-width: 568px) {

	body
	{
		font-size: 16px;
		margin: 22px auto 22px auto;
		max-width: 300px;
	}
	
	h1
	{
		font-size: 38px;
	}
	
	ul li:before
	{
		vertical-align: 18%;
	}
	
	li
	{
		margin: 0px 0px 24px 0px;
	}
	
	li p
	{
		line-height: 24px;
		padding-left: 8px;
	}
	
	#container
	{
		max-width: 280px;
	}
	
	#update-time
	{
		font-size: 10px;
		margin-top: -10px;
	}
	
	#site-description
	{
		display: none;
	}
}
